{% extends "base-generic.html" %}

{% block content %}
{% load static %}

<main class="main-section p-12">

  <div class="modal-dialog">
    <div class="modal-content">
      <!-- general form elements -->
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">Registro</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="" method="POST">
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group">
              <label for="nomUsuario">Nombre de usuario</label>
              <input type="text" class="form-control" id="nomUsuario" placeholder="Nombre de usuario" name="username"
                required value="{{usuario.username}}">
            </div>
            <div class="form-group">
              <label for="emailUsuario">Email</label>
              <input type="email" class="form-control" id="emailUsuario" placeholder="Email de usuario" name="email"
                required value="{{usuario.email}}">
            </div>
            <div class="form-group">
              <label for="primerNombre">Nombre</label>
              <input type="text" class="form-control" id="primerNombre" placeholder="Nombre" name="first_name" required
              value="{{usuario.first_name}}">
            </div>
            <div class="form-group">
              <label for="apellidoUsuario">Apellido</label>
              <input type="text" class="form-control" id="apellidoUsuario" placeholder="Apellido" name="last_name"
                required value="{{usuario.last_name}}">
            </div>
            <label for="primerNombre">Cambiar Contraseña</label>
            <div class="form-group">
              <label for="passUser">Contraseña</label>
              <input type="password" class="form-control" id="passUser" placeholder="Ingrese contraseña"
                name="password1" >
            </div>
            
            <div class="form-group">
              <label for="passUser2">Confirmar contraseña</label>
              <input type="password" class="form-control" id="passUser2" placeholder="Confirme contraseña"
                name="password2" >
            </div>
            <div class="form-group">
              
              <select name="groups" id="groups" class="custom-select" required>
                <option value="">Seleccionar grupo</option>
                {% for c in grupos %}
                {% if c.1 == grupoUsuario %}
                <option value="{{ c.0 }}" selected>{{c.1}}</option>
                {% else %}
                <option value="{{ c.0 }}" >{{c.1}}</option>
                {% endif %}
                {% endfor %}
              </select>
              
            </div>


          </div>
          <!-- /.card-body -->

          <div class="card-footer text-center">
            <input type="submit" class="btn btn-success" name="Modificar" value="Modificar">

          </div>
          <div class="card-footer text-center">
            <input type="submit" class="btn btn-success" name="Eliminar" value="Eliminar">
          </div>
        </form>

        <form action="{%url 'registro'%}" method="GET">
          <input type="submit" class="btn btn-success" name="Cancelar" value="Cancelar">
        </form>
        
      </div>

        <!-- /.card -->
        {% if message %}
        <script>
          alert('{{ message }}');
        </script>
        {%endif%}
      </div>



    </div>




</main>

<!--

        Formulario antiguo en caso de error



        <main class="main-section p-12 text-center">
        

            
                <div class="col-sm-8">
                    <div class="modal-content">
                        <div class="col-12 user-img">
                            
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="form-floating mb-3" id="user-group">
                                <input type="text" name="username" class="form-control" id="floatingUsuario"
                                    placeholder="Usuario">
                                <label for="floatingUsuario">Nombre Usuario</label>
                            </div>
       
                            <div class="form-floating mb-3" id="user-group">
                                <input type="email" name="email" class="form-control" placeholder="EXAMPLE@GMAIL.COM">
                                <label for="floatingUsuario">Email</label>
                            </div>
                            <div class="form-floating mb-3" id="user-group">
                                <input type="text" name="first_name" class="form-control" placeholder="Nombre">
                                <label for="floatingUsuario">Nombre</label>
                            </div>
                            <div class="form-floating mb-3" id="user-group">
                                <input type="text" name="last_name" class="form-control" placeholder="Apellido">
                                <label for="floatingUsuario">Apellido</label>
                            </div>
                            



                    <div class="input-group mb-3">                    
                        <input type="password" name="password1" class="form-control" placeholder="Contraseña" id="txtPassword">                                                 
    
                        <div class="input-group-append">
                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()">
                        <span class="fa fa-eye-slash icon"></span> </button>
    
                               </div>                
                        </div>
                    

 segunda casilla de password
                
                <div class="input-group mb-3">                    
                    <input type="password" name="password2" class="form-control" placeholder="Confirmar Contraseña" id="txtConfirmacion">                                                 

                    <div class="input-group-append">
                    <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword2()">
                    <span class="fa fa-eye-slash icon"></span> </button>

                           </div>                
                    </div>
                            <div class="form-floating">
                                
                                <select name="groups" id="groups" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for c in grupos %}
                                    <option value="{{ c.0 }}">{{c.1}}</option>
                                    {% endfor %}
                                </select>

                                <label for="groups">Grupo</label>
                            </div>

                                </br>
                            <div class="form-floating mb-3">
                                <input type="submit" value="Registrar" class="btn btn-success">
                            </div>

                        </form>
                    </div>
                </div>

                </div>
        {% if message %}
        <script>
            
            alert('{{ message }}');
            
        </script>
        {%endif%}


    -->








<!--
        Script del ojo en password del formulario antiguo

        <script type="text/javascript">
        function mostrarPassword(){
            var cambio = document.getElementById("txtPassword");
            if(cambio.type == "password"){
              cambio.type = "text";
              $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            }else{
              cambio.type = "password";
              $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }
          } 
          
          $(document).ready(function () {
          //CheckBox mostrar contraseña
          $('#ShowPassword').click(function () {
            $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
          });
        });
      
        </script>
        <script type="text/javascript">
          function mostrarPassword2(){
              var cambio = document.getElementById("txtConfirmacion");
              if(cambio.type == "password"){
                cambio.type = "text";
                $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
              }else{
                cambio.type = "password";
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
              }
            } 
            
            $(document).ready(function () {
            //CheckBox mostrar contraseña
            $('#ShowPassword').click(function () {
              $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
            });
          });
          </script>


    -->
{% endblock %}