<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Estilo/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Estilo/css/bootstrap.css' %}" />


<!-- BOOTSTRAP PARA PASSWORD-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- JAVASCRIP -->
<script type="text/javascript">
  function mostrarPassword(){
      var cambio = document.getElementById("txtPassword");
      if(cambio.type == "password"){
        cambio.type = "text";
        $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
      }else{
        cambio.type = "password";
        $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
      }
    } 
    
    $(document).ready(function () {
    //CheckBox mostrar contraseña
    $('#ShowPassword').click(function () {
      $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
    });
  });

  </script>
  <script type="text/javascript">
    function mostrarPassword2(){
        var cambio = document.getElementById("txtConfirmacion");
        if(cambio.type == "password"){
          cambio.type = "text";
          $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        }else{
          cambio.type = "password";
          $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
      } 
      
      $(document).ready(function () {
      //CheckBox mostrar contraseña
      $('#ShowPassword').click(function () {
        $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
      });
    });
    </script>
<!-- javascrip -->
<html>

<head>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h3>Ingresar Datos de Registro</h3>
            </a>
        </div>
    </nav>

    <main class="main-section p-4 text-center">
        <div class="modal-dialog text-center">

            <div class="modal-dialog text-center">
                <div class="col-sm-8">
                    <div class="modal-content">
                        <div class="col-12 user-img">
                            
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="form-floating mb-3" id="user-group">
                                <input type="text" name="username" class="form-control" id="floatingUsuario"
                                    placeholder="Usuario">
                                <label for="floatingUsuario">Nombre Usuario</label>
                            </div>
       
                            <div class="form-floating mb-3" id="user-group">
                                <input type="email" name="email" class="form-control" placeholder="EXAMPLE@GMAIL.COM">
                                <label for="floatingUsuario">Email</label>
                            </div>
                            <div class="form-floating mb-3" id="user-group">
                                <input type="text" name="first_name" class="form-control" placeholder="Nombre">
                                <label for="floatingUsuario">Nombre</label>
                            </div>
                            <div class="form-floating mb-3" id="user-group">
                                <input type="text" name="last_name" class="form-control" placeholder="Apellido">
                                <label for="floatingUsuario">Apellido</label>
                            </div>



                    <div class="input-group mb-3">                    
                        <input type="password" name="password1" class="form-control" placeholder="Contraseña" id="txtPassword">                                                 
    
                        <div class="input-group-append">
                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()">
                        <span class="fa fa-eye-slash icon"></span> </button>
    
                               </div>                
                        </div>
                    

<!-- segunda casilla de password-->
                
                <div class="input-group mb-3">                    
                    <input type="password" name="password2" class="form-control" placeholder="Confirmar Contraseña" id="txtConfirmacion">                                                 

                    <div class="input-group-append">
                    <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword2()">
                    <span class="fa fa-eye-slash icon"></span> </button>

                           </div>                
                    </div>
                            <div class="form-floating">
                                
                                <select name="groups" id="groups" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for c in grupos %}
                                    <option value="{{ c.0 }}">{{c.1}}</option>
                                    {% endfor %}
                                </select>

                                <label for="groups">Grupo</label>
                            </div>

                                </br>
                            <div class="form-floating mb-3">
                                <input type="submit" value="Registrar" class="btn btn-success">
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>

        </div>
        {% if message %}
        <script>
            
            alert('{{ message }}');
            
        </script>
        {%endif%}
        
    </main>
</body>


</html>