<!DOCTYPE html>
{% load static %}

<link
 rel="stylesheet"
 type="text/css"
 href="{% static 'Estilo/css/bootstrap.css' %}"
/>
<link
 rel="stylesheet"
 type="text/css"
 href="{% static 'Estilo/css/style.css' %}"
/>
<html>
<head>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h3>Bodega - Productos</h3>
          </a>
        </div>
    </nav>
    
    <main class="main-section p-4 text-center">
        <div class=" text-center">

                    <!-- Formulario Reserva-->
           <div class="modal-dialog text-center">
                <div class="col-sm-18">
                    <div class="modal-content">
                        
                        <h2>Modificar Producto</h2>
                        <form action="{% url 'productos' %}" method="POST">
                            {% csrf_token %}
                            
                            <div class="form-floating mb-3" id="user-group">
                                <input type="number" readonly name="IDProducto" class="form-control" id="floatingIdProducto"
                                    placeholder="Codigo de Barra" value="{{Producto.0}}">
                                <label for="floatingIdProducto" >Codigo de Barra</label>
                            </div>
                            
                            <div class="form-floating mb-3" id="user-group">
                                <input type="text" name="NombreProducto" class="form-control" id="floatingNomProducto"
                                    placeholder="Nombre Producto" value="{{Producto.1}}">
                                <label for="floatingNomProducto">Nombre Producto</label>
                            </div>

                            <div class="form-floating">
                                <select name="ProveedorProducto" id="user-group" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in Listado_Proveedores %}
                                    <option value="{{ e.0 }}" selected>{{e.1}}</option>
                                    {% endfor %}
                                </select>
                                <label for="ProveedorProducto">Proveedor Producto</label>
                                <br>
                            </div>

                            <div class="form-floating">
                                <select name="MarcaProducto" id="user-group" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in Listado_Marcas %}
                                    <option value="{{ e.0 }}" selected>{{e.1}}</option>
                                    {% endfor %}
                                </select>
                                <label for="MarcaProducto">Marca Producto</label>
                                <br>
                            </div>

                            
                            <div class="form-floating mb-3" id="user-group">
                                <input type="number" name="StockProducto" class="form-control" id="floatingStockProducto"
                                    placeholder="Stock" value="{{Producto.4}}">
                                <label for="floatingStockProducto">Stock</label>
                            </div>  

                            <div class="form-floating">
                                <select name="FormatoStockProducto" id="user-group" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in Listado_Formato_Stock %}
                                    <option value="{{ e.0 }}" selected>{{e.1}}</option>
                                    {% endfor %}
                                </select>
                                <label for="FormatoStockProducto">Formato Stock Producto</label>
                                <br>
                            </div> 

                            <div class="form-floating mb-3" id="user-group">
                                <input type="number" step="any" name="MedidaProducto" class="form-control" id="floatingMedidaProducto"
                                    placeholder="Medida Producto" value="{{Producto.6}}">
                                <label for="floatingMedidaProducto">Medida De Producto</label>
                            </div>  

                            <div class="form-floating">
                                <select name="UnidadMedidaProducto" id="user-group" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in Listado_Unidades_Medida %}
                                    <option value="{{ e.0 }}" selected>{{e.1}}</option>
                                    {% endfor %}
                                </select>
                                <label for="UnidadMedidaProducto">Unidad de Medida del Producto</label>
                                <br>
                            </div>  
                            
                            
                            
                            
                            <input type="submit" class="btn btn-danger" name='Eliminar' value="Eliminar Producto">
                            
                            <input type="submit" class="btn btn-success" name='Modificar' value="Modificar Producto">
                            
                            <input type="submit" class="btn btn-success" name='Cancelar' value="Cancelar">
                            
                            <br>
                            <br>

                        </form>

                        <!-- Fin Formulario-->
                        {{Mensaje}}
                        <br>
                        <br>

                    </div>
                </div>

                    
                
            </div>

        </div>
        
        

       </div>

    </main>
</body>


</html>