<!DOCTYPE html>
{% load static %}

<link
 rel="stylesheet"
 type="text/css"
 href="{% static 'Estilo/css/bootstrap.css' %}"
/>
<link
 rel="stylesheet"
 type="text/css"
 href="{% static 'Estilo/css/style.css' %}"
/>
<html>
<head>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h3>Bodega - Insumos</h3>
          </a>
        </div>
    </nav>
    
    <main class="main-section p-4 text-center">
        <div class=" text-center">

           
            <div class="col-sm-18">
                <div class="modal-content">
                    <div class="col-12 user-img">
                        <img src= "{% static 'img/LogoRestorant.png' %}"/>
                    </div>
                    <h2>Listado de Insumos</h2>
                    <form action="" method="POST">
                    {% csrf_token %}
                    <!-- Buscar Insumo Por Codigo De Barra -->
                    
                    <div class="form-floating mb-3" id="user-group">
                        <input style="width: 230px;" type="text" name="BuscarInsumoPorCodigo" class="form-control" id="floatingIdInsumo"
                                placeholder="Buscar Insumo Por Codigo">
                        <label for="floatingIdInsumo">Buscar Insumo Por Codigo</label>
                    </div>
                        <input type="submit" class="btn btn-success" name='btnBuscarInsumoCodigo' value="Buscar Insumo Por Codigo">
                    <!------------------------------------------------------------------------------------>

                    <!-- Buscar Insumo Por Proveedor -->
                    <div class="form-floating">
                        <select name="BuscarInsumoPorProveedor" id="user-group" class="form-select">
                            <option value="">Seleccionar</option>
                            {% for e in Listado_Proveedores %}
                            <option value="{{ e.0 }}">{{e.1}}</option>
                            {% endfor %}
                        </select>
                        <label for="ProveedorInsumo">Proveedor Insumo</label>
                        <br>
                    </div>
                        <input type="submit" class="btn btn-success" name='btnBuscarInsumoProveedor' value="Buscar Insumo Por Proveedor">
                    <!------------------------------------------------------------------------------------>

                    <!-- Buscar Insumo Por Stock -->
                    <div class="form-floating mb-3" id="user-group">
                        <input style="width: 250px;" type="text" name="BuscarInsumoPorStock" class="form-control" id="floatingBuscarPorStock"
                                placeholder="Buscar Insumo Por Stock">
                        <label for="floatingBuscarPorStock">Buscar Insumo Por Stock</label>
                    </div>
                        <input type="submit" class="btn btn-success" name='btnBuscarInsumoStock' value="Buscar Insumo Por Stock">

                    <!------------------------------------------------------------------------------------>
                    
                    <!-- Boton para mostrar todos los Insumos -->
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" name='btnTodosLosInsumos' value="Mostrar Todos Los Insumos">     
                    </form>

                    <!------------------------------------------------------------------------------------>
                    
                    <!-- Tabla de listado de Insumos -->
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>Codigo de Barra</th> 
                            <th>Nombre Insumo</th>
                            <th>Proveedor</th>
                            <th>Stock</th>
                        </tr>
                    
                        {% for r in Insumos %}
                        <tr>
                            <td>{{ r.0 }}</td>
                            <td>{{ r.1 }}</td>
                            <td>{{ r.3 }}</td>
                            <td>{{ r.2 }} {{r.4}}</td>
                        </tr>
                        {% endfor %} 
                        
                    </table>
                    <!-- Fin de Tabla de listado de Insumos -->
                </div>
            </div>

                    <!-- Formulario Reserva-->
           <div class="modal-dialog text-center">
                <div class="col-sm-18">
                    <div class="modal-content">
                        
                        <h2>Agregar Insumo</h2>
                        <form action="" method="POST">
                            {% csrf_token %}
                            
                            <div class="form-floating mb-3" id="user-group">
                                <input type="number" name="IDInsumo" class="form-control" id="floatingIdInsumo"
                                    placeholder="Codigo de Barra">
                                <label for="floatingIdInsumo">Codigo de Barra</label>
                            </div>
                            
                            <div class="form-floating mb-3" id="user-group">
                                <input type="text" name="NombreInsumo" class="form-control" id="floatingNomInsumo"
                                    placeholder="Nombre Insumo">
                                <label for="floatingNomInsumo">Nombre Insumo</label>
                            </div>

                            <div class="form-floating">
                                <select name="ProveedorInsumo" id="user-group" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in Listado_Proveedores %}
                                    <option value="{{ e.0 }}">{{e.1}}</option>
                                    {% endfor %}
                                </select>
                                <label for="ProveedorInsumo">Proveedor Insumo</label>
                                <br>
                            </div>

                            
                            <div class="form-floating mb-3" id="user-group">
                                <input type="number" name="StockInsumo" class="form-control" id="floatingStockInsumo"
                                    placeholder="Stock">
                                <label for="floatingStockInsumo">Stock</label>
                            </div>  

                            <div class="form-floating">
                                <select name="FormatoStockInsumo" id="user-group" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in Listado_Formato_Stock %}
                                    <option value="{{ e.0 }}">{{e.1}}</option>
                                    {% endfor %}
                                </select>
                                <label for="FormatoStockInsumo">Formato Stock Insumo</label>
                                <br>
                            </div>   
                            
                            
                            
                            <input type="submit" class="btn btn-success" name='Guardar' value="Guardar Insumo">
                            
                            <input type="submit" class="btn btn-danger" name='Eliminar' value="Eliminar Insumo">
                            
                            <input type="submit" class="btn btn-success" name='Modificar' value="Modificar Insumo">
                            <br>
                            <br>

                        </form>

                        <!-- Fin Formulario-->
                        {{Mensaje}}
                        <br>
                        <br>

                    </div>
                </div>

                    
                
            </div>

        </div>
        
        

       </div>

    </main>
</body>


</html>