{% extends "base-generic.html" %}

{% block content %}

</br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- ------------------------------------------------COLUMNA DERECHA------------------------------------- -->
            <div class="col-md-6">
                <!-- Form Element sizes -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Modificar Insumo</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form action="{% url 'insumos' %}" method="POST">
                                {% csrf_token %}

                                <label for="IdInsumo">Codigo de Barra</label>
                                <input type="number" readonly name="IDInsumo" class="form-control" id="IdInsumo"
                                    placeholder="Codigo de Barra" value="{{Insumo.0}}">



                                <label for="NomInsumo">Nombre Insumo</label>
                                <input type="text" name="NombreInsumo" class="form-control" id="NomInsumo"
                                    placeholder="Nombre Insumo" value="{{Insumo.1}}">

                                <label for="ProvInsumo">Proveedor Insumo</label>
                                <select name="ProveedorInsumo" id="user-group" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in Listado_Proveedores %}
                                    <option value="{{ e.0 }}" selected>{{e.1}}</option>
                                    {% endfor %}
                                </select>

                                <label for="StockInsumo">Stock insumo</label>
                                <input type="number" name="StockInsumo" class="form-control" id="floatingStockInsumo"
                                    placeholder="Ingrese numero de Stock" value="{{Insumo.2}}">


                                <label for="FormatoInsumo">Formato insumo</label>
                                <select name="FormatoStockInsumo" id="user-group" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in Listado_Formato_Stock %}
                                    <option value="{{ e.0 }}" selected>{{e.1}}</option>
                                    {% endfor %}
                                </select>
                                </br>

                                <input type="submit" class="btn btn-danger" name='Eliminar' value="Eliminar Insumo">

                                <input type="submit" class="btn btn-success" name='Modificar' value="Modificar Insumo">

                                <input type="submit" class="btn btn-success" name='Cancelar' value="Cancelar">
                            </form>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
{%load static %}

{% endblock %}