<!DOCTYPE html>
{% load static %}

<html>
<head>  
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'Estilo/css/style.css' %}"
 />
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'Estilo/css/bootstrap.css' %}"
 />
 
 <!--  Responsive tag de bootstap -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

  <nav class="navbar navbar-light" style="background-color: #5a1781;">      
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1> <img src="{% static 'img/LogoRestorant.png' %}" alt="" width="40" height="40" class="d-inline-block aling-items-center">
        Restaurante Siglo XXI</h1>
      </a>
      <form class="d-flex">
      {% if user.is_authenticated %}
     <a href="{% url 'logout' %}" class="btn btn-outline-success">Cerrar sesion</a>       
     {% else %}
     <a href="{% url 'login' %}" class="btn btn-outline-success">Iniciar sesion</a>
     <a href="{% url 'registro' %}" class="btn btn-outline-success">Registrarse</a>
     {% endif %}
      </form>
    </div>
    </nav>
      
      
