{% extends "base-generic.html" %}

{% block content %}

</br>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- ------------------------------------------------COLUMNA DERECHA------------------------------------- -->
      <div class="col-md-6">
        <!-- Form Element sizes -->
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Modificar Insumo</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <form action="{%url 'reservas'%}" method="POST">
                {% csrf_token %}

                <label for="idmesa">ID de la Reserva</label>
                <input type="number" readonly name="ID_RESERVA" class="form-control" id="ID_RESERVA"
                  placeholder="ID de la reserva" value="{{reserva.0}}">



                <label for="Mesas">Mesa asignada</label>
                <select name="MesaReserva" id="MesaReserva" class="form-select">
                  <option value="">Seleccionar</option>
                  {% for m in Lista_Mesas %}

                  {% if m.1 == mesaR %}
                  <option value="{{ m.1 }}" selected>{{m.1}}</option>
                  {% else %}
                  <option value="{{ m.1 }}">{{m.1}}</option>
                  {% endif %}

                  {% endfor %}
                </select>



                <label for="estado">Estado de la reserva</label>
                <select name="EstadoReserva" id="user-group" class="form-select">
                  <option value="">Seleccionar</option>
                  {% for e in Lista_Estado_Reserva %}
                  {% if e.0 == estadoR %}
                  <option value="{{ e.0 }}" selected>{{e.1}}</option>
                  {% else %}
                  <option value="{{ e.0 }}">{{e.1}}</option>
                  {% endif %}
                  {% endfor %}
                </select>



                <label for="DVRUTReserva">Rut reserva</label>
                <div class="input-group">
                  <input type="text" style="width: 200px;" name="RutReserva" class="form-control" id="floatingRut"
                    placeholder="Rut Reserva" value="{{reserva.2}}">
                  <h3> - </h3>
                  <input type="text" name="DVRUTReserva" class="form-control" id="floatingDV" placeholder="DV"
                    value="{{reserva.3}}">
                </div>

                <label for="floatingReserva">Fecha Reserva</label>
                <input type="date" name="FechaReserva" class="form-control" id="floatingFecha"
                  placeholder="Fecha Reserva" value="{{reserva.4}}">



                <label for="floatingReserva">Hora Reserva</label>
                <input type="time" name="HoraReserva" class="form-control" id="floatingFecha"
                  placeholder="Hora Reserva">


                <label for="floatingEmail">Email</label>
                <input type="email" name="Email" class="form-control" id="floatingEmail" placeholder="Email"
                  value="{{reserva.5}}">



                <label for="floatingTelefono">Telefono</label>
                <input type="text" name="Telefono" class="form-control" id="floatingTelefono" placeholder="Telefono"
                  value="{{reserva.6}}">



                <label for="floatingCantidad">Cantidad de personas</label>
                <input type="number" name="CantidadPersonas" class="form-control" id="floatingCantidad"
                  placeholder="Cantidad de personas" value="{{reserva.7}}">



                <input type="submit" class="btn btn-danger" name='Eliminar' value="Eliminar Reserva">

                <input type="submit" class="btn btn-success" name='Modificar' value="Modificar Reserva">
                <br>
                <br>

              </form>

              {{Mensaje}}
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>
{%load static %}

{% endblock %}