{% extends "base-generic.html" %}
{% block content %}
{%load static %}


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- -------------------------- COLUMNA IZQUIERDA ------------------------------ -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Crear Reservas</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <form action="" method="POST">
                {% csrf_token %}

                <label for="Mesas">Mesas</label>
                <select name="MesaReserva" id="MesaReserva" class="form-select">
                  <option value="">Seleccionar</option>
                  {% for m in Lista_Mesas %}
                  <option value="{{ m.1 }}">Mesa {{m.1}}</option>
                  {% endfor %}
                </select>



                <label for="RutReserva">RUT Reserva</label>
                <div class="input-group">
                  <input type="text" style="width: 200px;" name="RutReserva" class="form-control" id="floatingRut"
                    placeholder="Rut Reserva">
                  <h3> - </h3>
                  <input type="text" name="DVRUTReserva" class="form-control" id="floatingDV" placeholder="DV">
                </div>

                <label for="floatingReserva">Fecha Reserva</label>
                <input type="date" name="FechaReserva" class="form-control" id="floatingFecha"
                  placeholder="Fecha Reserva">


                <label for="HoraReserva">Hora Reserva</label>
                <div class="input-group">
                  <input type="time" style="width: 200px;" name="HoraReserva" class="form-control" id="HoraReserva">
                </div>



                <label for="floatingEmail">Email</label>
                <input type="email" name="Email" class="form-control" id="floatingEmail" placeholder="Email">



                <label for="floatingTelefono">Telefono</label>
                <input type="text" name="Telefono" class="form-control" id="floatingTelefono" placeholder="Telefono">



                <label for="floatingCantidad">Cantidad de personas</label>
                <input type="number" name="CantidadPersonas" class="form-control" id="floatingCantidad"
                  placeholder="Cantidad de personas">



                <input type="submit" class="btn btn-success" name='Guardar' value="Guardar Reserva">

                <input type="submit" class="btn btn-danger" name='Eliminar' value="Eliminar Reserva">

                <input type="submit" class="btn btn-success" name='Modificar' value="Modificar Reserva">
              </form>
              <label for="Mensaje">{{Mensaje}}</label>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- .col izquierda-->
      <!-- ------------------------------------------------COLUMNA DERECHA------------------------------------- -->
      <div class="col-md-6">
        <!-- Form Element sizes -->
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">Buscar Reserva</h3>
          </div>
          <form action="" method="POST">
            {% csrf_token %}

            <div class="card-body">
              <div class="form-group">
                <div class="row">
                  <!-- buscar mediante rut-->
                  <label for="floatingBuscarReserva">Buscar Reserva Por RUT</label>
                  <div class="col-11">
                    <input type="text" name="BuscarReservaRUT" class="form-control" id="floatingBuscarReserva"
                      placeholder="Buscar Reserva Por RUT">
                  </div>
                  <div class="col-1">
                    <input type="submit" class="btn btn-success" name='btnBuscarReservaPorRUT' value="Buscar">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  </div>

  <!-- termino  cuadro derecho e izq -->
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listado de Reservas</h3>
        <br>

        <form action="" method="POST">
          {% csrf_token %}
          <!-- Boton para mostrar todos los datos de reserva en tabla -->
          <input type="submit" class="btn btn-success btn-sm" name='btnTodasLasReserva'
            value="Mostrar Todas Las Reserva">
        </form>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID Reserva</th>
          <th>Mesa Reservada</th>
          <th>Estado de Reserva</th>
          <th>Rut Reserva</th>
          <th>Fecha Reserva</th>
          <th>Hora Reserva</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Cantidad de Personas</th>
          <th>Modificar/Eliminar</th>
        </tr>
        {% for r in Reserva %}
        <tr>
          <td>{{ r.0 }}</td>
          <td>Mesa {{ r.1 }}</td>
          <td>{{ r.2 }}</td>
          <td>{{ r.3 }}</td>
          <td>{{ r.4 }}</td>
          <td>{{ r.5 }}</td>
          <td>{{ r.6 }}</td>
          <td>{{ r.7 }}</td>
          <td>{{ r.8 }}</td>
          <td><a href="{%url 'modificar-reservas' r.0 %}">Modificar</a></td>
        </tr>
        {% endfor %}

      </table>



    </div>
  </div>
  </div>

  </div>

  </main>
  {% endblock %}