<!DOCTYPE html>
<html>
<body>

<h2>Mesas Restaurant Siglo XXI</h2>

<div id="contenedor">
  <button class="btn active" onclick="filterSelection('all')"> Todas las mesas</button>
  <button class="btn" onclick="filterSelection('disponible')"> Disponibles</button>
  <button class="btn" onclick="filterSelection('enuso')"> En Uso</button>
  <button class="btn" onclick="filterSelection('porlimpiar')"> Por Limpiar</button>
  <button class="btn" onclick="filterSelection('reservada')"> Reservada</button>
</div>

<div class="container">
  <div class="filterDiv disponible">Mesa 1</div>
  <div class="filterDiv enuso">Mesa 2</div>
  <div class="filterDiv porlimpiar">Mesa 3</div>
  <div class="filterDiv reservada">Mesa 4</div>
</div>
</body>
</html>
        