<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Estilo/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Estilo/css/style.css' %}" />
<html>

<head>
</head>

<body class="aling-items-center">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h3>♥Gestion de Mesas♥</h3>
            </a>
        </div>
    </nav>

    <main class="main-section p-12 text-center">
        
    <!--  Formulario Agregar Mesa -->
            <div class="modal-dialog text-center">
                <div class="col-sm-12">
                    <div class="modal-content text-center">
                        <div class="col-12 user-img">
                            <img src="{% static 'img/LogoRestorant.png' %}" />
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <h2>Agregar Mesas</h2>

                            <div class="form-floating mb-3" id="user-group">
                                <input type="number" name="idmesa" class="form-control" id="idmesa"
                                    placeholder="numeromesa">
                                <label for="idmesa">Número de Mesa🤡</label>
                            </div>

            
                            <div class="form-floating mb-3" id="user-group">
                                <input type="number" name="capacidad" class="form-control"  placeholder="capacidadper" id="floatingPer">
                                <label for="floatingPer">Capacidad de Personas🤑</label>
                            </div>

                            <div class="form-floating">
                                <select name="estado" id="estado" class="form-select">
                                    <option value="">Seleccionar</option>
                                    {% for e in lista_estado %}
                                    <option value="{{ e.0 }}">{{e.1}}</option>
                                    {% endfor %}
                                </select>
                                <label for="estado">Estado de la mesa💀</label>
                                <br>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="submit" name='Guardar' value= "Guardar Mesa" class="btn btn-success">
                            </div>

                        </form>

                        
                    </div>
                </div>

            </div>
        

        
        {% if mensaje %}
        <script>
            
            alert('{{ mensaje }}');
            
        </script>
        {%endif%}
        
    
<!--  Listado de mesas -->

    
        <div class="modal-dialog text-center">

            <div class="modal-dialog text-center">
                <div class="col-sm-12">
                    <div class="modal-content">
                        
                        <h2>Listado de Mesas</h2>
                       <table class="table table-dark table-striped">
                         <tr>
                           <th>Numero de Mesa</th> 
                           <th>Capacidad de la Mesa</th>
                           <th>Estado de la Mesa</th>
                         </tr>
                         {% for e in Mesas %}
                            <tr>
                              <td>{{ e.0 }}</td>
                              <td>{{ e.1 }}</td>
                              <td>{{ e.2 }}</td>
                            </tr>
                         {% endfor %}
                       </table>
                       <br>
                       <br>
                    </div>
                </div>
            </div>
        </div>
        

    
<!--  Formulario eliminar o modifacr Mesa -->
    

        <div class="modal-dialog text-center">
            <div class="col-sm-12">
                <div class="modal-content">
                    
                    <h2>Eliminar y/o modificar</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-floating mb-3" id="user-group">
                            <input type="number" name="idmesa" class="form-control" id="idmesa" 
                                placeholder="Numero de la mesa">
                            <label for="idmesa">Número de Mesa🤡</label>
                        </div>

                        <div class="form-floating mb-3" id="user-group">
                            <input type="number" name="capacidad" class="form-control" id="floatingCap" 
                                placeholder="Capacidad de personas">
                            <label for="floatingCap">Capacidad Personas🤑</label>
                        </div>


                        
                        <div class="form-floating">
                            
                            <select name="estado" id="estado" class="form-select">
                                <option value="">Seleccionar</option>
                                {% for e in lista_estado %}
                                <option value="{{ e.0 }}">{{e.1}}</option>
                                {% endfor %}
                            </select>
                            <label for="estado">Estado de la Mesa😈</label>
                        </div>
                        <br>
                        <input type="submit" name='Eliminar' value= "Eliminar Mesa" class="btn btn-danger">
                        <input type="submit" name='Modificar' value= "Modificar Mesa" class="btn btn-primary">
                        <br>
                        <br>
                    </form>

    </main>
</body>


</html>