{% extends "base-generic.html" %}

{% block content %}
<!-- body-->

<section class="content">
  <div class="container-fluid">
    <h4 class="card-title w-100">Menu Administrador</h4>
  </br>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="far fa-calendar-alt"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Reservas</span>
            <form action="{% url 'reservas' %}">
              <div class="form">
                <input type="submit"   value="Gestionar Reservas" class="btn btn-success">
              </div>
            </form>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"> <i class="fa-regular fa-eye"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Mesas</span>
            <form action="{% url 'mesas' %}">
              <div class="form">
                <input type="submit"   value="Gestionar Mesas" class="btn btn-success">
              </div>
            </form>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-user-plus"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Registro</span>
            <form action="{% url 'registro' %}">
              <div class="form">
                <input type="submit"   value="Gestion de Usuarios" class="btn btn-success">
              </div>
            </form>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-shopping-cart"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Bodega</span>
            <form action="{% url 'Bodega' %}">
              <div class="form">
                <input type="submit"   value="Gestion de Bodega" class="btn btn-success">
              </div>
            </form>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!--  Segunda fila  -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fa-solid fa-utensils"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Cocina</span>
            <form action="{%url 'Cocina' %}">
              <div class="form">
                <input type="submit"  value="Gestion de Cocina" class="btn btn-success">
              </div>
            </form>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-chart-pie"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Informes</span>
            <form action="#">
              <div class="form">
                <input type="submit"   value="Informes" class="btn btn-success">
              </div>
            </form>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
</section>

      {% if message %}
      <script>
          
          alert('{{ message }}');
          
      </script>
      {%endif%}


{%load static %}



{% endblock %}